
body {
    margin: 0;
}
.overlay {
    position: fixed;
    display: none;
    background-color: rgba(104,104,104,0.8);
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
#content {
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-template-rows: .75fr 9fr;
    min-height: 100vh;
}
header {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    background-color: #3777FF;
}
.categories {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background-color: #e7e5e4;
    
}
.items {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: #fcfcfc;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.category-container {
    display: flex;
    flex-direction: column;
    border: 2px black solid;
    border-radius: 15px;
    height: 70vh;
    width: 80%;
}
.task-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    flex-shrink: 1;
    border: 2px black solid;
    border-radius: 15px;
    max-width: 90%;
    max-height: 10vh;
}